{% extends 'main.html' %} {% load bootstrap5 %} {% load static %}
<!--protect-->{% block content %}

<body>
  <p>This is the FAQ's page</p>
  <h4>How do we keep your jacket secure?</h4>
  <p>
    It's simple. JacketStash uses a secure backend to process all check in and
    check out events. Our backend server, Firebase, is Google-backed and
    certified.
  </p>

  <h4>Why is the price so low?</h4>
  <p>
    Our mission is to provide affordable, secure checkins for college town bars.
    We make our profit on repeat customers, and have knocked the price down
    wherever we could.
  </p>
</body>

{% endblock %}
