{% extends 'main.html' %} {% load static %} {% load bootstrap5 %}
<!--protect-->{% block content %}
<!--protect-->
<link rel="stylesheet" href="{% static 'base/faq.css' %}" />
<body>
  <h3 class="text-center" id="header">Frequently Asked Questions</h3>
  <h4>How do we keep your jacket secure?</h4>
  <p>
    It's simple. JacketStash uses a secure backend to process all check in and
    check out events. Our backend server, Firebase, is Google-backed and
    certified.
  </p>

  <h4>Why is the price so low?</h4>
  <p>
    Our mission is to provide affordable, secure checkins for college town bars.
    We make our profit on repeat customers, and have knocked the price down
    wherever we could.
  </p>
</body>

{% endblock %}
